﻿<%inherit file="/base/base.html"/>
<%namespace file="/utils/sidebars.html" name="sidebars" />
<%namespace file="/utils/forms.html" name="forms" />

<%def name="javascripts()" filter="trim">

</%def>


<div id="sidebar">
    ${sidebars.tasks_menu()}
</div>
<div id="mainbar">
    % if checkin:
    <h1>Check In Evidence ${evidence.reference|h}</h1>
    % else:
    <h1>Check Out Evidence ${evidence.reference|h}</h1>
    % endif

     % if checkin:
    <form method="post" enctype="multipart/form-data" action="${urls.build('evidence.custody_in', dict(evidence_id=evidence.id))|h}">
    % else:
    <form method="post" enctype="multipart/form-data" action="${urls.build('evidence.custody_out', dict(evidence_id=evidence.id))|h}">
    % endif
        <% from datetime import datetime %>
        <% text = "Check-In" if checkin is True else "Check-Out" %>
        ${forms.formTextField("Date of " + text, "date", "date", "form_label", "input_long", first=True, default=datetime.now().strftime("%d %B %Y"))}
        ${forms.formTextField("Time of " + text, "time", "time", "form_label", "input_long", default=datetime.now().strftime("%H:%M"))}
        ${forms.formTextField("Person/Location evidence is going to", "user", "user", "form_label", "input_long")}
        ${forms.formTextArea("Comments", "comments", "comments", "form_label", "addeditcase")}
        <!--${forms.formTextField("Upload Attachment", "attach", "attach", "form_label", "input_long", input_type="file")}-->
        ${forms.formTextField("Attachment label", "label", "label", "form_label", "input_long")}
        <p style="clear:both; text-align:center"><input type="submit" value="Submit" /></p>
    </form>
</div>